#displayTopicsFiller {
	padding: 10px;
}

section.modal-card-body {
	border-radius: 5px 5px 0px 0px;
}

#spaceHolder1 {
	background-image: url("../images/man_before_speech2.png");
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 300px;
	border-radius: 100%;
}

#spaceHolder2 {
	vertical-align: center
}

#line1 {
	vertical-align: middle;
}

#queryButton {
	max-width: 150px;
	margin-left: 10px;
}

#queryInput {
	margin-right: 8px;
}

#showQuestionsTick {
	padding: 10px;
}

.displayFiller {
	  margin: auto;
    width: 50%;
    padding: 15px;
}

h3.displayFiller {
	width: 80%;
}

.tableTopicSession {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.tableTopic, .topicInfo {
	background-color: #E0EEEE;
	color: black;
	border-radius: 3px;
	margin: 5px;
	height: auto;
}

.container {
	margin: 0;
}
.columns, .columns:not(:last-child), .columns:last-child {
     margin: 0; 
     padding: 0;
}

.ttContainer {
	border: 3px solid rgb(250, 255, 189);
	margin: 10px;
	width: auto;
}

.ttContainer:nth-child(even) {
	border: 3px solid #E0EEEE;
}

.newTopicLead {
	font-size: 1.3em; 
}

h3.title:not(:last-child), h3.subtitle:not(:last-child) {
    margin-bottom: 0;
}

@media screen and (min-width: 769px), print level.sass:45
.level > .level-item:not(.is-narrow) {

     flex-grow: 0; 
}

