	#displayTopicsFiller {
	padding: 10px;
}

section.modal-card-body {
	border-radius: 5px 5px 0px 0px;
}

#spaceHolder1 {
	background-image: url("../images/man_before_speech2.png");
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 300px;
	border-radius: 100%;
}

#spaceHolder2 {
	vertical-align: center
}

#line1 {
	vertical-align: middle;
}

#queryButton {
	max-width: 150px;
	margin-left: 10px;
}

#queryInput {
	margin-right: 8px;
}



#topicSearch {
	padding: 10px 0px 0px 0px;
	text-align: center;
}

#searchButtonRow {
	padding: 0px 0px 10px 0px;
	display: flex;
	justify-content: center;
}

#getOneQuestion, #getOneSession {
	height: 130px;
	max-width: 130px;
	white-space: normal;
	margin-left: 20px;
	margin-right: 20px

}

#surveySpot {
	position: fixed;
	bottom: 20px;
	right: 20px;
}



.showQuestionsTick {
	padding: 10px;
}

.displayFiller {
	  margin: auto;
    width: 50%;
    padding: 15px;
}

.showQuestionButton {
	margin: auto;
}

h3.displayFiller {
	width: 80%;
}

.tableTopicSession {
	display: flex;
	justify-content: center;
}

.tableTopic, .topicInfo {
	background-color: #E0EEEE;
	color: black;
	border-radius: 3px;
	margin: 5px;
	height: auto;
}

.container {
	margin: 0;
}
.columns, .columns:not(:last-child), .columns:last-child {
     margin: 0; 
     padding: 0;
}

.ttContainer {
	margin: 10px;
	display: flex;
	justify-content: center;

}

.newTopicLead {
	font-size: 1.3em; 
}

h3.title:not(:last-child), h3.subtitle:not(:last-child) {
    margin-bottom: 0;
}

/*Stat row for Index page*/



#dbProgressRow label{
	color: #0E4C49;
	padding: 5px 25px 5px 25px;
}


.dbStats {
	display: block;
	color: #0E4C49;
	margin-left: 5px;
	margin-right: 5px;
}

content.dbStats {
	border: 3px solid #0E4C49;
	margin: 10px 10px 0px 10px;
}

.tableTopicsBuffer2 {
	text-align: left;
	min-height: 250px;
}

.dbStatsContainer{
	min-height: 150px;
}

.dbStatsContainer div{
	font-size: 75px;
}

#statRow {
	text-align: center;
	padding: 10px;
}

.tableTopicSession:nth-child(odd) {
	border: 2px solid rgb(250, 255, 189);;
	margin: 1em;
}

.tableTopicSession:nth-child(even) {
	border: 2px solid #E0EEEE;
	margin: 1em;
}

/****************** MEDIA QUERIES ******************/

@media screen and (max-width: 768px) {

	/* Red search bar styling for mobile*/
	#topicSearch {
		padding: 1em;
	}

	#topicSearch {
		padding: 15px 0px 0px 0px;
		text-align: center;
	}

	#searchButtonRow {
		padding: 0px 0px 0px 0px;
		display: flex;
		justify-content: center;
	}

	form #queryInput {
		margin: auto;
	}

	#queryButton {
		margin: 1em auto 1em auto;
	}

	#getOneQuestion, #getOneSession {
		margin-top: 0;
	}

	#tableTopicsPractice button {
		margin-bottom: 1em;
	}

	section.sessionMetaData {
	max-width: 100%;
	}

	.ttContainer {
		display: block;
	}


	.randomQuestion {
	    padding: 25px 15px 25px 15px;
	}


}

