form {
	display: inline-block;
}

p.control {
	text-align: right;
}

#col2 {
	background-color: blue;
}

#tableTopicsPractice {
	height: 25px;	
	vertical-align: middle;
}

#bodyPhoto{
	max-height: 250px;
}

#loginBody {
	text-align: center;
	padding: 40px;
	vertical-align: middle;
}

#signInForm {
	/*background-color: brown;*/
	padding: 25px;
	text-align: center;
	vertical-align: top;

}

.level-item {
	height: 100px;
}

.level:not(:last-child) {
    margin-bottom: 0rem;
}




