#signInForm {
	display: inline-block;
}

h3.title {
	margin: 0;
}

p.control {
	text-align: center;
}

#col2 {
	background-color: blue;
}

#tableTopicsPractice {
	min-height: 25px;	
	height: auto;
	vertical-align: top;
}

#bodyPhoto{
	max-height: 250px;
}

#loginBody {
	text-align: center;
	padding: 10px 40px 20px 40px;
	vertical-align: middle;
}

#signInForm {
	/*background-color: brown;*/
	padding: 5px 25px 5px 25px;
	text-align: center;
	vertical-align: top;

}

#mobileSubtitle {
	margin-top: -1.5rem;
}

.level-item {
	height: 100px;
}

.level:not(:last-child) {
    margin-bottom: 0rem;
}

#modalTitle {
	margin: auto;
}

#loginBody h3 {
	font-size: 1.8em;
	padding-bottom: 15px;
}



