* {
	margin: 5px;
	padding: 1px;
	border-radius: 3px;
	color: #E0EEEE
}

body {
	background-color: #0E4C49;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

input, button, textarea {
	color: black;
}

.hide {
	display: none;
}

#navBar {
	background-color: #01093D;
	margin: auto;
	list-style: square;
}

a div{
	display: inline;
}

.disabled {
	border: none;
	background: none;
} 


/********************** Media Queries **********************/
/***********************************************************/

@media screen and (min-width: 200px) {

	header {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0,0,0,.4)),url("../images/public_speaking.jpg");
		background-repeat: no-repeat;
		background-position: center;
		height: 250px;
		width: 100%;
		margin: 0;
		padding: 0;
		border-radius: 0;
		overflow-x: hidden;
	}

	h1 {
		color: white;
		text-align: center;
		font-size: 2em;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-top: 75px;
		padding-bottom: 0px;
	}

	h2 {	
		text-align: center;
		font-size: 1.3em;
		margin-left: auto;
		margin-right: auto;
		padding-top: 0px;
	}

	p {
		padding-right: 0;
		padding-left: 0;
	}

	form button {
		display: inline-block;
		margin-top: 10px;
		margin-left: 10px;
		border: 1px solid black;
	}

	label {
		padding: 1px 3px 1px 3px;
		margin: 3px 5px 3px 5px;
		cursor: pointer; 
		display: inline;
	}

	form input {
		display: inline-block;
		margin: auto;
	}

}

@media screen and (min-width: 800px) {

	#inputForm {
		max-width: 100%;
		font-size: 1em;
	}

	#ctrPanel {
		width: 100%;
	}

	.col3 {
		max-width: 100% ;
		display: auto;
		float: none;
	}
}

@media screen and (min-width: 2200px) {

	.col6 {
		max-width: 15%;
		display: auto;
		float: left;
	}
}

