/*assets {
	light Blue:  #E0EEEE;
	dark blue: #0E4C49;
	light beige: rgb(250, 255, 189);
	dark red: #772432;
}*/

* {
	color: #E0EEEE;
/*	margin: 0;
	padding: 0;*/
}


html, body, .section{
	background-color: #0E4C49;
	margin: 0;
}

h1.title{
	font-size: 3em;

}

h1, h3{
  font-family: "droid-serif",serif;
  }

h2.subtitle {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

h3.title {
	align-content: left;
	margin: auto;
}

img	{
	border-radius: 3px;
	max-height: 500px;
	overflow: hidden;
	height: auto;
	width: auto;
}

input, .input {
	color: black;
	max-width: 350px;
}

a {
	display: inline;
}

footer {
	padding: 0;
}

#mainNavBar {
	margin: 0px;
	border-radius: 0;
}

#mobileNavBar {
	padding-left: 100px;
	padding-right: 100px;
}

#ttdbLogo {
  float: left;
  position: relative;
  left: 50%;
}

#pageTitle {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0,0,0,.4)),url("../images/Woman_public_Speaking2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 450px;
	overflow: hidden;
}

#pageFooter {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0,0,0,.4)),url("../images/Microphone_audience3.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
}
#topicSearch{
	text-align: center;
}

#tableTopicsPractice, .tableTopicsBuffer {
	background-color: #772432;
	text-align: center;
	min-height: 25px;
}

.tableTopicsBuffer2 {
	background-color: #E0EEEE;
	text-align: center;
	min-height: 25px;
}

#displayTopics {
	text-align: left;
	padding: 0px;
	margin: auto; 
}

#displayTopics h3 {
	text-align: left;
	font-size: 1.2em;
}

#displayTopics h5, li {
	text-align: left;
	padding-left: 25px;
	padding-bottom: 5px;
	color: white; 
	font-size: 1.6em;
}

#buttonHolder{
	text-align: center;
	padding-top: 10px;
}

.disabled {
	border: none;
	background: none;
} 

label, .label, span, strong, .title, .subtitle{
	color: #E0EEEE;
}

.box {
	background-color:  #772432;
	max-width: 800px;
	max-height: 800px;
	margin: auto;
}

button {
	margin: 9px;
}

.randomQuestion {
	padding: 100px;
}

h4.title:not(:last-child), h4.subtitle:not(:last-child) {
    margin-bottom: 0px;
}

h3.title:not(:last-child), h3.subtitle:not(:last-child) {
    margin-bottom: 1rem;
}

.hero-body {
    padding: 2em;
    text-align: left;
}

.hide {
	display: none;
}

.container {
	margin-left: 25px;
}

.textarea {
    display: block;
    max-height: 600px;
    max-width: 100%;
    min-height: 60px;
    min-width: 350px;
    padding: 0.625em;
    resize: both;
}

.level {
	justify-content: center
}

.level:not(:last-child) {
    margin-bottom: 0rem;
}

.section {
	padding: 0;
}


@media screen and (max-width: 768px) {

	
	.hero-body {
	    padding: 1em;
	}

	#pageFooter {
	     background-size: auto 120%; 
	}
}