#formArea {
	display: flex;
	width: auto;
	margin: auto;
	padding: 20px;
	vertical-align: middle;
	justify-content: center;
}

#formContainer {
	padding: 20px;
	border: 2px solid rgb(250, 255, 189);
}

#newUserForm {
	width: min-content;
}

#tmTitle {
	font-size: 1em;
}

label	{
	width: 250px;
}

label.radio	{
	width: 70px;
}

.label {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.label:not(:last-child) {
	margin-bottom: 0;
}

input, .input {
	width: 500px;
}

.level-item {
	justify-content: left;
	text-align: center;
}

.locationInput {
	width: 150px;
}

#clubCountryInput {
	margin-left: 50px;
}

.inClubRadio {
	width: 20px;
}

.title.is-three {
	margin: 5px, 0, 5px, 0;
}
