fieldset	{
	text-align: center;
	border: none;
}

label, .label{
	display: flex;
	width: auto;
	align-items: center;
	justify-content: left;
	padding-bottom: 8px;
}

#addQuestion {
	padding-bottom: 8px;
	opacity: .9;
}

#topicsSubmitArea {
	display: flex;
	width: auto;
	margin: auto;
	padding: 0px 5px 0px 5px;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
}

#sessionSubmitForm {
	/*border: 2px solid rgb(250, 255, 189);*/
	padding: 10px;
	width: 80%;
}

#sessionQuestions {
	padding-top: 20px;
}

#sessionQuestions textarea{
	margin-bottom: 8px;
}

.textarea {
  display: block;
  max-height: 600px;
  max-width: 100%;
  min-height: 60px;

  padding: 0.625em;
  resize: vertical;
  padding-bottom: 8px;
}

#fieldsetArea {
	padding: 10px;
	width: auto;
}

.delete {
	float: right;

}
small {
	padding-bottom: 16px;
	opacity: .8;
	display: block;
}

#topicIntroTitle {
	margin-top: 0;
}

.label:not(:last-child) {
	margin-bottom: 0;
}

.field {
	display: flex;
}

h3.title:not(:last-child), h3.subtitle:not(:last-child) {
    margin-bottom: .5rem;
    margin-top: .5rem;
}


input, .input {
	min-width: 250px;
	max-width: 100%;
}




@media screen and (max-width: 768px) {
	
	input, .input {
		min-width: auto;
	}

	#formContainer {
		padding: 5px;
	}	

	#formArea {
		padding: 10px 1px 10px 1px;
	}
	label.label	{
		width: 100px;
		font-size: .9rem;
		padding: 2px;
	}

	#tmTitle {
		font-size: 10px;
	}

	#clubCountryInput {
		margin-left: 5px;
	}

	.locationInput {
		width: 110px;
	}

	.select {
		margin-left: 5px;
	}

	.textarea {
    display: block;
    max-height: 600px;
    max-width: 100%;
    min-height: 80px;
    min-width: 100%;
    padding: 0.625em;
    resize: both;
	}

}